.btn {
  border: 0;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: inherit;
  padding: 1rem 4rem;
  text-decoration: none;
  font-weight: 600;
  font-family: $ff-poppins;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:focus,
.btn:active {
  outline: none;
}

.btn-outline {
  background-color: $white;
  color: $dark-cyan;

  &:hover {
    background-color: $dark-cyan;
    color: $white;
  }
}

.btn-primary {
  margin-top: 1.5rem;
  color: $white;
  background-color: lighten($primary, 8);

  &:hover {
    background-color: $primary;
  }
}
